@use "@material/theme" with (
  $primary: #1B5E20,
  $secondary: #e21111,
  $background: #4c8c4a, //#c7c7c7,
);
@use '@material/button/mdc-button';
@use '@material/button';
@use "@material/drawer";
@use "@material/list";
@use "@material/tab-bar/mdc-tab-bar";
@use "@material/tab-scroller/mdc-tab-scroller";
@use "@material/tab-indicator/mdc-tab-indicator";
@use "@material/tab/mdc-tab";
@use "@material/icon-button";
@use "@material/top-app-bar/mdc-top-app-bar";
@use "@material/floating-label/mdc-floating-label";
@use "@material/line-ripple/mdc-line-ripple";
@use "@material/notched-outline/mdc-notched-outline";
@use "@material/textfield";
@use "@material/card";
@use "@material/list/mdc-list";
@use "@material/menu-surface/mdc-menu-surface";
@use "@material/menu/mdc-menu";
@use "@material/select/styles";
@use "@material/snackbar/mdc-snackbar";
@use "@material/data-table/data-table";
@use "@material/radio/styles" as radio-styles;
@use "@material/form-field";

@include form-field.core-styles;

/* tabla */
@include data-table.core-styles;
@include data-table.theme-baseline;
/* tabla */

@include card.core-styles;
@include textfield.core-styles;

// @media 
// only screen and (max-width: 462px){
// (min-device-width: 280px) and (max-device-width: 600px)  {

html {
  scroll-behavior: smooth;
  font-size: medium;
}

body {
  font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0px auto;
  background-color: #0288d1;
  text-align: center;
}

.app-bar {
  position: absolute;
}

.mdc-top-app-bar {
  z-index: 7;
}

section {
  text-align: center;
}

.content {
  margin: 5rem auto;
  text-align: center;
}

.sample-content--hidden {
  display: none;
}

.mdc-tab{
  background-color: #4c8c4a;
}

.mdc-tab__content .mdc-tab__text-label {
  color: black;
}

.mdc-text-field {
  margin: 1rem auto;
}

.mdc-snackbar__actions .mdc-button__label {
  color: #0288D1;
}

ul, li { margin: 0; padding: 0; list-style-type: none; flex-direction: column;
  align-items: center; 
}

#lista1 { 
  display: inline-block; 
}

.mdc-list-item__primary-text{
  color: black;
}

.mdc-list-item__secondary-text{
  color: #1b1b1b;
}

.mdc-data-table__content{
  background-color: #5eb8ff;
}

.mdc-data-table{
  width: 35%;
  background-color:#1B5E20;
}

.mdc-data-table__header-cell{
  background-color:#4c8c4a;
}

h1{
  color: rgba(255, 255, 255, 0.932);
}

h4{
  color: rgba(255, 255, 255, 0.932);
}

.mdc-notched-outline{
  background-color: #4c8c4a;
}

#colorListaPaises{
  background-color: #4c8c4a;
}

#partidos{
  background-color: #0090dd;
}

#pronosticos{
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 1200px){
  .mdc-data-table{
    width: 60%;
  }
}

@media (max-width: 800px){
  .mdc-data-table{
    width: 95%;
  }
  #pronosticos{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}