@use "@material/theme" with (
  $primary: #1B5E20,
  $secondary:  #0288d1,
  $background: #4c8c4a,
);
@use '@material/button/mdc-button';
@use '@material/button';
@use "@material/drawer";
@use "@material/list";
@use "@material/tab-bar/mdc-tab-bar";
@use "@material/tab-scroller/mdc-tab-scroller";
@use "@material/tab-indicator/mdc-tab-indicator";
@use "@material/tab/mdc-tab";
@use "@material/icon-button";
@use "@material/top-app-bar/mdc-top-app-bar";
@use "@material/floating-label/mdc-floating-label";
@use "@material/line-ripple/mdc-line-ripple";
@use "@material/notched-outline/mdc-notched-outline";
@use "@material/textfield";
@use "@material/card";
@use "@material/list/mdc-list";
@use "@material/menu-surface/mdc-menu-surface";
@use "@material/menu/mdc-menu";
@use "@material/select/styles";
@use "@material/snackbar/mdc-snackbar";
@use "@material/data-table/data-table";
@use "@material/radio/styles" as radio-styles;
@use "@material/form-field";

@include form-field.core-styles;
@include data-table.core-styles;
@include data-table.theme-baseline;
@include card.core-styles;
@include textfield.core-styles;

html {
  scroll-behavior: smooth;
  font-size: medium;
}

body {
  font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0px auto;
  background-color: #4c8c4a;
  text-align: center;
}

.app-bar {
  position: absolute;
}

.mdc-top-app-bar {
  z-index: 7;
}

//titulo 'Mundial'
.mdc-top-app-bar__title{
  font-size: x-large;
  font-weight: 700;
}

section {
  text-align: center;
}

.content {
  margin: 5rem auto;
  text-align: center;
}

// que (el contendido de) tablas y pronostico quede oculto
.sample-content--hidden {
  display: none;
}

.mdc-tab{
  background-color: #0288d1;
}

// los titulos de 'Inicio' 'Tablas' y 'Pronostico'
.mdc-tab__content .mdc-tab__text-label {
  color: black;
  font-weight: 700;
}

.mdc-snackbar__actions .mdc-button__label {
  color: #005b9f;
}

ul, li { 
  margin: 0; 
  padding: 0; 
  list-style-type: none; 
  flex-direction: column;
  align-items: center; 
}

.mdc-list-item__primary-text{
  color: white;
  font-size: large;
  font-weight: 700;
}

.mdc-list-item__secondary-text{
  color: #a8a8a8;
}

.mdc-data-table__content{
  background-color: #0288d1;
}

.mdc-data-table{
  width: 35%;
  background-color:#1B5E20;
}

.mdc-data-table__header-cell{
  background-color:#1B5E20;
}

h1, h2, h3, h4{
  color: rgba(255, 255, 255, 0.932);
}

.mdc-notched-outline{
  background-color: #4c8c4a;
}

#colorListaPaises{
  background-color: #4c8c4a;
}

#partidos{
  background-color: #003300;
  width:35%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 8%;
  padding-right: 8%;
}

#pronosticos{
  width: 35%;
  margin-left: auto;
  margin-right: auto;
}

.mdc-radio__outer-circle  {
  background-color:#f6f8f6;
}

//entre medio de desktop y mobile
@media (max-width: 1200px){
  .mdc-data-table{
    width: 60%;
  }
  #partidos{
    width:80%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1%;
    padding-right: 1%;
  }
}

// mobile
@media (max-width: 800px){
  .mdc-data-table{
    width: 95%;
  }
  #pronosticos{
    padding-left: 0;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  #partidos{
    width:97%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1%;
    padding-right: 1%;
  }
  .mdc-list-item__primary-text{
    text-align: center;
    font-size: medium;
    font-weight: 500;
  }
}